.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
  margin-right: 2rem;
  margin-left: 2rem;

    .icon {
      font-size: 70px;
      margin-right: 20px;
    }

    .header{
      font-size: 50px;
      text-align: center;
      margin: 0;
    }
}