.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
  margin-right: 2rem;
  margin-left: 2rem;

    .logo {
      max-width: 100px;
      max-height: 100px;
      margin-top: -15px;
    }

    .header{
      font-size: 50px;
      text-align: center;
      margin: 0;
    }
}