:host ::ng-deep {
  .home {
    width: auto;

    .p-toast {
      width: 16rem;
    }

    .item--wrapper {
      box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 0 rgb(255, 255, 255), 0em 0em 1em rgba(0, 0, 0, 0.5);
      margin-bottom: 30px;
    }
  }
}
