<section>
  <p-card header="Movie Details">
    <div class="button-back">
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-arrow-left"
        class="p-button-rounded p-button-outlined"
        (click)="onGoBack()"
      ></button>
    </div>
    <div class="card-wrapper">
      <div class="movie-image">
        <img [src]="movie.poster" />
      </div>

      <div class="movie-desc">
        <h1>{{ movie.name }}</h1>
        <h3>Release Year: {{ movie.year }}</h3>
        <div class="rating">
          <p-rating
            [ngModel]="movie.rating"
            [readonly]="true"
            [cancel]="false"
          ></p-rating>
        </div>
        <div class="category">
          <i class="pi pi-tag icon"></i
          ><span class="category-genre">{{ movie.genre }}</span>
        </div>
        <p class="desc">
          {{ movie.longDescription }}
        </p>
        <button
          pButton
          pRipple
          label="Edit Movie"
          type="button"
          icon="pi pi-pencil"
          class="p-button-rounded p-button-outlined"
          (click)="onEdit()"
        ></button>
      </div>
    </div>
  </p-card>
</section>
