.review--wrapper{
    margin-top: 50px;
  }

  .review{
    column-count: 2;
    column-span: all;
    column-gap: 450px;
  }

  .reviewHeader{
    margin-top: -20px;
  }

  .userReview{
    column-count: 3;
    column-span: all;
    column-gap: 95px;
  }

  .userComment{
    margin-top: 30px;
  }

  .userName{
    margin-top: -20px;
  }

//   .userRating{
//     margin-top: -20px;
//   }

  .edit-delete-button{
      margin-top: 0px;
  }

  .edit-button{
    margin-right: 16px;
  }

  .userComment{
      margin-top: 10px;
  }