.review--wrapper{
    margin-top: 50px;
  }

  .review{
    column-count: 2;
    column-span: all;
    column-gap: 200px;
  }

  .reviewHeader{
    margin-top: -20px;
  }

  .userReview{
    column-count: 2;
    column-span: all;
    column-gap: 150px;
  }

  .userComment{
    margin-top: 30px;
  }

  .userName{
    margin-top: -20px;
  }